<div class="container mt-5">
  <div class="row">
    <div class="col-lg-9 col-md-10 col-sm mx-auto">
      <h4 class="text-center">お問い合わせ一覧</h4>

      <table class="table mt-4 text-secondary">
        <thead>
          <tr>
            <td>番号</td>
            <td>ユーザー名</td>
            <td>メールアドレス</td>
            <td>タイトル</td>
            <td></td>
          </tr>
        </thead>
        <% @inquiries.each do |inquiry| %>
          <tbody>
            <tr>
              <td>
                <%= inquiry.id %>
              </td>
              <td>
                <%= inquiry.name %>
              </td>
              <td>
                <%= inquiry.email %>
              </td>
              <td>
                <%= inquiry.title %>
              </td>
              <td>
                <%= link_to '詳細', admin_inquiry_path(inquiry), class: 'btn btn-info btn-sm' %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>

    </div>
  </div>
</div>
