<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 col-md-9 col-sm-12 mx-auto">
      <h4 class="text-center">投稿編集ページ</h4>

      <%= form_with model: @post, local: true do |f| %>
        <div class="form-group">
          <%= f.label :body, '投稿内容', class: "form-label" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>

        <div class="action text-center">
          <%= f.submit '更新', class: "btn btn-info btn-sm" %>
        </div>
      <% end %>

      <div class="text-center pt-3">
        <%= link_to '詳細', post_path(@post), class: "text-info" %>  |  <%= link_to 'タイムライン', posts_path, class: "text-info" %>
      </div>

    </div>
  </div>
</div>



