<div class="container mt-4">
  <div class="row">
    <div class="col-lg-6 col-md-10 col-sm-12 mx-auto">
      <div>
        <%= link_to user_path(current_user), class: 'text-secondary' do %>
          <i class="fas fa-chevron-left"></i>
        <% end %>
        <h4 class="text-center">フォロー中</h4>
      </div>

      <div class="mt-4">
        <table class="table">
          <% @users.each do |user| %>
            <tbody>
              <tr>
                <td style="width:7%">
                  <%= link_to user_path(user) do %>
                    <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", size: "60x60", class: "rounded-pill" %>
                  <% end %>
                </td>
                <td style="width:63%">
                  <%= link_to user.name, user_path(user), class: "text-secondary" %>
                  <p class="text-secondary"><%= user.introduction %></p>
                </td>
                <td style="width:30%">
                  <%= render 'public/relationships/follow', user: user %><br>
                  <div class="mt-1">
                    <% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
                      <%= link_to 'chatへ', chat_path(user.id), class: 'btn btn-outline-secondary btn-sm' %>
                    <% end %>
                  </div>

                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>

    </div>
  </div>
</div>