<div class="row">
  <div class="col-lg-6 col-md-9 col-sm-12 mx-auto">
    <h4 class="text-center">投稿一覧</h4>

    <div class="search-form mt-5">
      <%= form_with url: admin_posts_path, method: :get, local: true do |f| %>
        <%= f.text_field :search %>
        <%= f.submit '検索' %>
      <% end %>
    </div>

    <div>
      <% @posts.each do |post| %>
        <div class="border-bottom pt-3">
          <%= link_to user_path(post.user), class: "text-secondary" do %>
            <%= attachment_image_tag post.user, :profile_image, :fill, 70, 70, format: 'jpeg', fallback: "no_image.jpg", class: "rounded-pill" %>
            <%= post.user.name %>
          <% end %>
          <%= post.post_time %><br>
          <%= link_to admin_post_path(post), class: 'text-secondary' do %>
            <%= post.body %><br>
          <% end %>

          <div class="text-right mb-3">
            <%= link_to '削除', admin_post_path(post), method: :delete, "data-confirm" =>"本当に削除しますか？", class: " btn btn-secondary btn-sm btn-s" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
