<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 col-md-9 col-sm-12 mx-auto">
      <h4 class="text-center">コメント一覧</h4>
  
      <div class="search-form mt-5 text-center">
        <%= form_with url: admin_post_comments_path, method: :get, local: true do |f| %>
          <%= f.text_field :search %>
          <%= f.submit '検索' %>
        <% end %>
      </div>
  
      <div>
        <% @post_comments.each do |post_comment| %>
          <div class="border-bottom pt-3">
            <%= link_to admin_user_path(post_comment.user), class: "text-secondary" do %>
              <%= attachment_image_tag post_comment.user, :profile_image, :fill, 70, 70, format: 'jpeg', fallback: "no_image.jpg", size: "50x50", class: "rounded-pill" %>
              <%= post_comment.user.name %>
            <% end %>
            <%= post_comment.comment_time %><br>
            <%= link_to admin_post_path(post_comment.post), class: 'text-secondary' do %>
              <%= post_comment.body %><br>
            <% end %>
  
            <div class="text-right mb-3">
              <%= link_to '削除', admin_post_comment_path(post_comment), method: :delete, "data-confirm" =>"本当に削除しますか？", class: " btn btn-secondary btn-sm" %>
            </div>
          </div>
        <% end %>
      </div>
  
    </div>
  </div>
</div>
