<div class="row">
  <div class="col-lg-6 col-md-9 col-sm-12 mx-auto">
    <h5 class="text-center">お問い合わせ確認画面</h5>
    <%= form_with model: @inquiry, url: user_inquiries_thanks_path, local: true do |f| %>
      <table class="table text-secondary">
        <tbody>
          <tr>
            <td style="width:30%">名前</td>
            <%= f.hidden_field :name %>
            <td style="width:70%"><%= @inquiry.user.name %></td>
          </tr>
          <tr>
            <td>タイトル</td>
            <%= f.hidden_field :title %>
            <td><%= @inquiry.title %></td>
          </tr>
          <tr>
            <td>お問い合わせ内容</td>
            <%= f.hidden_field :message %>
            <td><%= @inquiry.message %></td>
          </tr>
        </tbody>
      </table>

      <%= f.hidden_field :email %>
      <%= f.hidden_field :user_id %>

      <div class="action text-center">
        <%= f.submit '送信', class: 'btn btn-info btn-sm' %>
      </div>

    <% end %>
  </div>
</div>