<table class="table mt-3">
  <thead>
    <tr>
      <th>日付</th>
      <th>体重</th>
      <th>体温</th>
      <th>元気度</th>
      <th>ヨガ実践</th>
    </tr>
  </thead>

  <% health_logs.each do |health_log| %>
    <tbody>
      <tr>
        <td>
          <%= link_to health_log.health_log_on, user_health_log_path(current_user, health_log), class: 'text-secondary' %>
        </td>
        <td>
          <% unless health_log.weight %>
            <span>-</span>
          <% else %>
            <%= link_to health_log.weight, user_health_logs_graph_path(current_user), class: 'text-secondary' %>
          <% end %>
        </td>
        <td>
          <% unless health_log.temperature %>
            <span>-</span>
          <% else %>
            <%= link_to health_log.temperature, user_health_logs_graph_path(current_user), class: 'text-secondary' %>
          <% end %>
        </td>
        <td class="text-secondary">
          <%= health_log.feeling %>
        </td>
        <td>
          <%= link_to user_health_logs_calendar_path(current_user), class: 'text-secondary' do %>
            <% if health_log.is_active %>
              <span>実践した</span>
            <% else %>
              <span>実践してない</span>
            <% end %>
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>

<div class="mt-4">
  <%= paginate health_logs %>
</div>