<div class="row">
  <div class="col-lg-6 col-md-10 col-sm-11 mx-auto">
    <h4 class="text-center">記録一覧</h4>

    <div class="text-right">
      <%= link_to '今日のメモ一覧へ', user_health_logs_memo_path(current_user), class: 'btn btn-info btn-s' %>
    </div>

    <table class="table mt-3">
      <thead>
        <tr>
          <th>日付</th>
          <th>体重</th>
          <th>体温</th>
          <th>元気度</th>
          <th>ヨガ実践</th>
        </tr>
      </thead>

      <% @health_logs.each do |health_log| %>
        <tbody>
          <tr>
            <td>
              <%= link_to health_log.health_log_on, user_health_log_path(current_user, health_log), class: 'text-secondary' %>
            </td>
            <td>
              <% if health_log.weight == nil %>
                <span></span>
              <% else %>
                <%= link_to health_log.weight, user_health_logs_graph_path(current_user), class: 'text-secondary' %>
              <% end %>
            </td>
            <td>
              <% if health_log.temperature == nil %>
                <span></span>
              <% else %>
                <%= link_to health_log.temperature, user_health_logs_graph_path(current_user), class: 'text-secondary' %>
              <% end %>
            </td>
            <td class="text-secondary">
              <%= health_log.feeling %>
            </td>
            <td>
              <%= link_to user_health_logs_calendar_path(current_user), class: 'text-secondary' do %>
                <% if health_log.is_active == true %>
                  <span>実践した</span>
                <% else %>
                  <span>実践してない</span>
                <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>

    <div class="mt-4">
      <%= paginate @health_logs %>
    </div>

  </div>
</div>
