<div class="row">
  <div class="col-lg-7 col-md-10 col-sm-11 mx-auto">
    <h4 class="text-center mb-4"><%= @health_log.health_log_on %>の記録</h4>

    <table class="table text-secondary">
      <tbody>
        <tr>
          <td><%= link_to '体重', user_health_logs_graph_path(@user), class: 'text-secondary' %></td>
          <td><%= @health_log.weight %>kg</td>
        </tr>
        <tr>
          <td><%= link_to '体温', user_health_logs_graph_path(@user), class: 'text-secondary' %></td>
          <td><%= @health_log.temperature %>℃</td>
        </tr>
        <tr>
          <td><%= link_to '元気度', user_health_logs_graph_path(@user), class: 'text-secondary' %></td>
          <td><%= @health_log.feeling %></td>
        </tr>
        <tr>
          <td><%= link_to 'ヨガ実践', user_health_logs_calendar_path(@user), class: 'text-secondary' %></td>
          <td>
            <% if @health_log.is_active == true %>
              実践した
            <% else %>
              実践していない
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= link_to 'ヨガ実践内容', user_health_logs_calendar_path(@user), class: 'text-secondary' %></td>
          <td><%= @health_log.exercise %></td>
        </tr>
        <tr>
          <td>朝食</td>
          <td><%= @health_log.morning %></td>
        </tr>
        <tr>
          <td>昼食</td>
          <td><%= @health_log.lunch %></td>
        </tr>
        <tr>
          <td>夕食</td>
          <td><%= @health_log.dinner %></td>
        </tr>
        <tr>
          <td><%= link_to '今日のメモ', user_health_logs_memo_path(@user), class: 'text-secondary' %></td>
          <td><%= @health_log.memo %></td>
        </tr>
      </tbody>
    </table>

    <div class="text-center">
      <%= link_to '編集する', edit_user_health_log_path(@user, @health_log), class: "btn btn-info btn-s" %>
    </div>

  </div>
</div>
