<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 col-md-7 col-sm-8 mx-auto">
      <h4 class="text-center">ようこそYoga Connectへ！</h4>
  
      <h4>目標を記入しよう！！</h4>
      <p>※後で登録したい方は<%= link_to 'こちら ', posts_path %> </p>
  
      <%= form_with model: @user, url: user_update_path(@user), local: true do |f| %>
  
          <div class="form-group">
            <label for="inputImage">【プロフィール画像】</label><br>
            <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size: "60x60", class: "rounded-pill" %>
  
            <%= f.attachment_field :profile_image, placeholder: "ファイルを選択" %>
          </div>
  
          <div class="form-group">
            <%= f.label :introduction, '【自己紹介文】', class: "form-label" %>
            <%= f.text_area :introduction, class: "form-control" %>
          </div>
  
          <div class="form-group">
            <%= f.label :link, '【リンク】', class: "form-label" %>
            <%= f.text_field :link, placeholder: 'Instagramやtwitterのリンクを貼ろう', class: "form-control" %>
          </div>
  
          <div class="form-group">
            <%= f.label :goal_weight, '【目標体重(kg)】', class: "form-label" %>
            <%= f.text_field :goal_weight, class: "form-control col-3", placeholder: "55" %>
          </div>
  
          <div class="form-group">
            <%= f.label :goal, '【ヨガ実践目標】',class: "form-label" %>
            <%= f.text_area :goal, class: "form-control" %>
          </div>
          <p>
            例：毎日寝る前に10分、リラックスヨガをする<br>
                 １日30分ヨガをする<br>
                 ダイエットヨガを毎日1つやる<br>
                 など
      　　　</p>
  
          <div class="action text-center">
            <%= f.submit "登録", class: "btn btn-info mb-3 btn-sm" %>
          </div>
  
        </form>
  
      <% end %>
  
      <p>次回からアイコンや目標の記入、編集はユーザー情報編集から行ってください！！</p>
    </div>
  </div>
</div>



