<div class="row">
  <div class="col-lg-6 col-md-9 col-sm-12 mx-auto">

    <h4 class="text-center">ユーザー検索</h4>

    <div class="search-form mt-5">
      <%= form_with url: user_search_path, method: :get, local: true do |f| %>
        <%= f.text_field :search %>
        <%= f.submit '検索' %>
      <% end %>
    </div>

    <div class="text-right">
      <%= link_to '戻る', posts_path, class: 'btn btn-secondary btn-sm btn-s' %>
    </div>

    <div class="mt-5">
      <%= render 'index', users: @users %>
    </div>
  </div>
</div>