<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 col-md-10 col-sm-11 mx-auto">
  
      <% if @user == current_user %>
        <h4 class="text-center">マイページ</h4>
      <% end %>
  
      <div class="d-flex">
        <div>
          <%= attachment_image_tag @user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "no_image.jpg", class: "rounded-pill" %><br>
          <strong><%= @user.name %></strong>
        </div>
  
        <div class="d-flex">
          <div class="text-center pt-4 pl-3"><!-- 投稿数 -->
            <%= @user.posts.count %> <br> <p>投稿</p>
          </div>
  
          <div class="text-center pt-4 pl-3"><!-- フォロワーの人数 -->
            <%= link_to followers_user_relationships_path(@user), class: "text-secondary" do %>
              <%= @user.followers.count %> <br> <p>フォロワー</p>
            <% end %>
          </div>
  
          <div class="text-center pt-4 pl-3"><!-- フォロー中の人数 -->
            <%= link_to followings_user_relationships_path(@user), class: "text-secondary" do %>
              <%= @user.followings.count %> <br> <p>フォロー中</p>
            <% end %>
          </div>
  
          <div class="text-center pt-4 pl-3">
            <% if @user == current_user %>
              <% unless current_user.goal_weight %>
                <span></span>
              <% else %>
                <%= link_to user_health_logs_graph_path(current_user), class: "text-secondary" do %>
                  <%= current_user.goal_weight %> <br> <p>目標体重(kg)</p>
                <% end %>
              <% end %>
            <% end %>
          </div>
  
          <div class="pt-4 pl-3">
            <%= render 'public/notifications/circle', user: @user %>
          </div>
  
        </div>
      </div>
  
      <div class="mt-3">
        <%= @user.introduction %>
        <% if @user == current_user %>
          <%= link_to ' ', edit_user_path(current_user), class: "fas fa-user-edit" %>
        <% end %>
        <div class="mt-1">
          <p><i class="fas fa-link"></i>  <%= @user.link %></p>
          <p>実践目標 : <%= @user.goal %></p>
        </div>
      </div>
  
      <div class="d-flex mt-3">
        <div><!-- フォローボタンの表示 -->
          <%= render 'public/relationships/follow', user: @user %>
        </div>
  
        <div class="ml-4">
          <% if current_user != @user && current_user.following?(@user) && @user.following?(current_user) %>
            <%= link_to 'chatを始める', chat_path(@user.id), class: 'btn btn-outline-secondary btn-sm' %>
          <% end %>
        </div>
      </div>
  
      <% if @user == current_user %>
        <div class="menu p-2 mt-4">
          <!-- 今日の記録のレコードがあるかないかで遷移先を変える -->
          <% if @today_health_log.present? %>
            <%= link_to '今日の記録', edit_user_health_log_path(current_user, @today_health_log), class: "text-secondary" %>
          <% else %>
            <%= link_to '今日の記録', new_user_health_log_path(current_user), class: "text-secondary" %>
          <% end %>
          <%= link_to '記録一覧', user_health_logs_path(current_user), class: "text-secondary ml-3" %>
          <%= link_to 'ヨガ実践カレンダー', user_health_logs_calendar_path(current_user), class: "text-secondary ml-3" %>
        </div>
      <% end %>
  
      <div class="mt-5">
        <h5 class="text-center">投稿一覧</h5>
        <%= render 'public/posts/post_index', posts: @posts %>
      </div>
  
    </div>
  </div>
</div>
