<!DOCTYPE html>
<html>
  <head>
    <title>Yoga</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container header">

          <!--ハンバーガーメニュー-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="logo">
            <%= link_to root_path, class: 'navbar-brand' do %>
              <%= image_tag 'logo.png', :size => '150x70' %>
            <% end %>
          </div>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item text-center">
                  <%= link_to '', post_search_path, class: 'fas fa-search nav-link text-secondary' %>
                </li>
                <li class="nav-item">
                  <%= link_to '投稿する', new_post_path, class: "pl-2 nav-link text-center" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'タイムライン', posts_path, class: "pl-2 nav-link text-center" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'マイページ', user_path(current_user), class: "pl-2 nav-link text-center" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "pl-2 nav-link text-center" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ヘルプページ', helps_path, class: "pl-2 nav-link text-center" %>
                </li>

              <% elsif admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to 'ユーザー一覧', admin_users_path, class: "nav-link text-center" %>
                </li>
                <li class="nav-item">
                  <%= link_to '投稿一覧', admin_posts_path, class: "pl-2 nav-link text-center" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'コメント一覧', admin_post_comments_path, class: "pl-2 nav-link text-center" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "pl-2 nav-link text-center" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to 'ホーム', root_path, class: "nav-link text-center" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'サイトについて', homes_about_path, class: "pl-2 nav-link text-center" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ログイン', new_user_session_path, class: "pl-2 nav-link text-center" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'サインアップ', new_user_registration_path, class: "pl-2 nav-link text-center" %>
                </li>
              <% end %>
            </ul>
          </div>

        </div>
      </nav>
    </header>

    <main class="mt-2">
      <div class="container">
        <% if flash[:notice] %>
          <div class="alert alert-info text-center flash">
            <%= flash[:notice] %>
          </div>
        <% end %>

        <% if flash[:error] %>
          <div class="alert alert-danger text-center flash">
            <%= flash[:error] %>
          </div>
        <% end %>
      </div>

      <div class="container mt-5">
        <%= yield %>
      </div>
    </main>

    <footer class="mt-5">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <p>© 2021 Yoga Connect</p>
          </div>
        </div>
      </div>

    </footer>

  </body>
</html>
